.case-cate-active {
    color: #232323;
    border-bottom: 1px solid #232323;
    padding-bottom: 4px;
}

@charset "utf-8";@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: HELVETICANEUELTPRO-THEX;
    src: url(fonts/HELVETICANEUELTPRO-THEX.OTF)
}

::-webkit-scrollbar-track-piece {
    width: 8px;
    height: 4px;
    background-color: #f0f0f0
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    background-color: #666
}

::-webkit-scrollbar-thumb {
    width: 8px;
    height: 4px;
    background-color: #666
}

::-webkit-scrollbar-thumb:hover {
    width: 8px;
    height: 4px;
    background-color: #2e2e2e
}

* {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none
}

a {
    text-decoration: none;
    color: #232323
}

img {
    border: none
}

input, textarea {
    outline: 0;
    border: none;
    background: 0 0;
    font-size: 14px;
    font-family: Arial, "微软雅黑";
    -webkit-appearance: none
}

.clear {
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}

.ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

body, html {
    width: 100%;
    height: 100%;
    font: 14px Arial, "微软雅黑";
    font-family: Arial, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    color: #232323;
    background-color: #f7f7f7
}

body {
    overflow-x: hidden
}

img {
    float: none;
    max-width: 100% ;
    height: auto
}

.clearfix:after {
    clear: both;
    display: block;
    content: ''
}

.clearfix {
    zoom: 1 }

.show {
    display: block
}

.hide {
    display: none
}

.text-outside-line {
    position: relative;
    display: inline-block;
}

.text-outside-line::before,.text-outside-line::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 99%;
    display: block;
    border-bottom: 1px solid;
    right: 100%;
    opacity: .15;
}

.text-outside-line::before {
    right: 100%;
    margin-right: 25px;
}

.text-outside-line::after {
    left: 100%;
    margin-left: 25px;
}

.close {
    width: 48px;
    height: 48px;
}

.close .b {
}

.close .b div {
    background-color: #fff
}

.bx-helper,.sliderArrow {
    display: none
}

.item_bg {
    height: 100%;
    width: 1000%;
}

.bx-wrapper .bx-controls-direction a:hover {
    background: rgba(0,0,0,.8);
}

.module {
    position: relative;
    z-index: 1;
    background-color: #f7f7f7
}

.module.bgParallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.module_container {
    margin: 0 auto;
    padding: 60px 0px;
    max-width: 1170px;
}

html[class*=agent-mobile] .module_container {
    overflow: hidden
}

.postbody .module_container,.module_container .module_container {
    padding-top: 0;
    padding-bottom: 0
}

.module_container.wide {
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
}

.container_header {
    padding-bottom: 40px;
    text-align: center;
    font-size: 24px;
    max-width: 560px;
    margin: 0 auto
}

.container_header .title {
    color: #232323
}

.container_header .subtitle {
    color: #939393;
    font-size: 14px;
    margin-top: 10px
}

.module_container .more {
    padding: 8px 50px;
    background: transparent;
    border: #ddd 1px solid;
    transition: all ease-out .3s;
    text-decoration: none;
    color: #232323;
    border-radius: 50px;
    display: inline-block;
}

.module_container .more.hide {
    display: none
}

.module_container .more:after {
    margin-left: 10px;
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
}

.agent-desktop .module_container .more.white:hover {
    background: #232323;
    border-color: #232323;
    color: #fff
}

.module_container .more.black {
    background: #ffffff;
    border-color: #ffffff;
    color: #232323;
}

.agent-desktop .module_container .more.black:hover {
    background: none;
    color: #fff
}

.row {
    zoom:1}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.row[class*=gutter] {
    margin: 0 -10px
}

.row.gutter20 {
    margin: 0 -20px
}

.row > [class*=col-] {
    float: left
}

.row[class*=gutter] > [class*=col-] {
    box-sizing: border-box;
    padding: 0 10px;
}

.row.gutter20 > [class*=col-] {
    padding: 0 20px;
}

.col-100 {
    width: 100%
}

.col-80 {
    width: 80%
}

.col-66 {
    width: 66.666%
}

.col-60 {
    width: 60%
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%
}

.col-33 {
    width: 33.333%
}

.col-25 {
    width: 25%
}

.col-20 {
    width: 20%
}

.col-16 {
    width: 16.666%
}

.col-100 .description {
    max-width: 800px;
    margin: 0 auto
}

@keyframes rotate-forever {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none
}

.loading.show {
    display: flex
}

.loading .spinner {
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-name: rotate-forever;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 4px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.7;
    box-sizing: border-box;
}

#banner {
    background-color: #eef2f5
}

#banner img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

.postbody img {
    float: none;
    margin: 0 auto;
    margin-bottom: 0px;
    height: auto;
    max-width: 100%
}

.pageEditor .row.gutter {
    margin: 0 -20px
}

.pageEditor .row.gutter > [class*=col-] {
    box-sizing: border-box;
    padding: 0 20px;
}

.agent-mobile .pageEditor iframe {
    max-width: 100vw;
    max-height: 100vw
}

.richtext {
    color: #6f6f6f;
    line-height: 24px;
    font-size: 13px;
}

.richtext a {
    text-decoration: underline
}

.agent-desktop .richtext a:hover {
    color: #00C0FF
}

.richtext hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-top: 1px dotted #d3d3d3;
    word-wrap: break-word;
    word-break: normal;
}

#pages {
    padding: 20px 0 60px;
    height: 24px;
    text-align: center
}

#pages span {
    display: inline-block;
    margin: 0 10px;
    color: #222;
    line-height: 28px
}

#pages a {
    display: inline-block;
    margin-right: 5px;
    width: 26px;
    height: 26px;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    line-height: 24px;
    transition: all .2s ease-out
}

#pages a:after {
    display: block;
    margin: 2px auto;
    width: 0;
    height: 1px;
    background-color: #d4d4d4;
    content: ""
}

#pages a.active {
    color: #7e7e7e
}

#pages a.active:after,.agent-desktop #pages a:hover:after {
    width: 10px
}

.container_category {
    position: relative;
    z-index: 3;
    width: 100%;
    text-align: center ;
    margin-bottom: 40px;
}

.container_category a {
    position: relative;
    display: inline-block;
    margin: 0px 25px;
    color: #6f6f6f;
    transition: all .3s ease-out 0s;
    font-size: 13px;
}

.container_category a:after {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: #232323;
    content: '';
    opacity: 0;
    transition: all .3s ease-out 0s;
}

.container_category a.active,.agent-desktop .container_category a:hover {
    color: #232323
}

.container_category a.active:after,.agent-desktop .container_category a:hover:after {
    opacity: 1;
    bottom: -4px;
}

#header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

#header .wrapper {
    height: auto
}

#header > .content {
    margin: 0 auto;
    height: 100%;
    padding: 0 5px;
    max-width: 1170px;
    position: relative
}

#header .content #headTop {
    height: 100%
}

#header .content a#logo {
    display: block;
    float: left;
    margin-top: 16px;
    transition: all ease-out .3s
}

#header .content a#logo img {
    max-height: 40px
}

#header #navWrapper {
    float: right;
}

#header .nav {
    float: left;
    margin-left: 30px;
}

#header .nav > li {
    position: relative;
    float: left;
    height: auto;
    font-size: 14px
}

#header .nav > li > a {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 26px 0;
    margin: 0 20px;
    transition: all ease-out .3s;
    line-height: 20px
}

#header .nav > li > a span {
    position: relative;
    display: inline-block;
}

#header .nav > li > a > i {
    margin-left: 10px
}

#header .nav .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 199;
    visibility: hidden;
    overflow: hidden;
    background-color: #232323;
    opacity: 0;
    transition: all .36s ease ;
    padding: 13px 0 15px;
    min-width: 220px
}

#header .nav .navitem:last-child .subnav {
    left: auto;
    right: 0
}

#header .nav .subnav li {
    padding: 0 30px
}

#header .nav .subnav li a {
    display: block;
    padding: 9px 0 7px;
    color: #9d9d9d;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    transition: all .2s ease-in-out;
    position: relative;
    left: 0
}

#header .nav .subnav li a i {
    float: right;
    margin-top: 3px
}

#header .nav .subnav li a:hover {
    left: 5px;
    color: #fff
}

#header .nav > li:hover .subnav {
    visibility: visible;
    opacity: 1
}

#header .nav > li a.active span,.agent-desktop #header .nav > li:hover a span {
    color: #7e7e7e
}

body.openMenu #header .nav {
    position: absolute;
    left: 0;
    top: 66px;
    width: 100%;
    margin-left: 0;
    background-color: rgba(23, 23, 23, 0.95);
    display: block;
}

body.openMenu #header .nav > li {
    width: 100%;
    font-size: 13px
}

body.openMenu #header .nav > li > a {
    border-bottom: solid 1px rgba(255,255,255,.06);
    padding: 10px 0;
}

body.openMenu #header .nav > li > a i {
    color: #fff;
    float: right
}

body.openMenu #header .nav > li span {
    color: #fff
}

body.openMenu #header .nav .subnav {
    position: static;
    visibility: visible;
    opacity: 1;
    padding: 0;
    background-color: rgba(23, 23, 23,1);
}

body.openMenu #header .nav .subnav.hide {
    height: 0 !important;
    opacity: 0;
    transition: height 0.36s ease 0s, opacity 0.26s ease 0s;
    display: block;
}

body.openMenu #header .nav .subnav li a {
    border-bottom: solid 1px rgba(255,255,255,.06);
    color: #939393;
    padding: 10px 0
}

#header #openBtn {
    padding: 6px 0;
    cursor: pointer;
    display: none
}

.lcbody {
    width: 48px;
    height: 48px;
    position: relative;
    transform: translateZ(0px) rotate(0deg);
    transition: transform 0.4s cubic-bezier(0.4, 0.01, .165, 0.99);
}

.lcitem {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateZ(0px) rotate(0deg);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;
    width: 48px;
    height: 48px;
}

.lcitem .rect {
    width: 17px;
    height: 1px;
    background: #232323;
    position: absolute;
    left: 16px;
    transition: transform 0.2s ease 0.2s;
    -webkit-transition: -webkit-transform 0.2s ease 0.2s;
}

.lcitem .rect.top {
    top: 23px;
    transform: translate3d(0px, -3px, 0px);
}

.lcitem .rect.bottom {
    bottom: 23px;
    transform: translate3d(0px, 3px, 0px);
}

body.openMenu #header .content #openBtn .lcbody {
    transform: translateZ(0px) rotate(90deg);
}

body.openMenu #header .content #openBtn .lcitem, .lcbody.close .lcitem {
    transform: translateZ(0px) rotate(45deg);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.2s;
}

body.openMenu #header .content #openBtn .lcitem.bottom, .lcbody.close .lcitem.bottom {
    transform: translateZ(0px) rotate(-45deg);
}

body.openMenu #header .content #openBtn .lcitem .rect, .lcbody.close .lcitem .rect {
    transition: transform 0.2s ease 0s;
    transform: translate3d(0px, 0px, 0px);
}

.lcbody.prev .lcitem.top {
    transform: translateZ(0px) rotate(-45deg);
}

.lcbody.prev .lcitem.bottom {
    transform: translate3d(0px,10px,0) rotate(45deg);
}

.lcbody.next .lcitem.top {
    transform: translateZ(0px) rotate(45deg);
}

.lcbody.next .lcitem.bottom {
    transform: translate3d(0px,10px,0) rotate(-45deg);
}

#header.mini {
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.6);
}

#header.mini .content a#logo {
    margin-top: 10px
}

#header.mini .nav > li > a {
    padding: 20px 0;
}

#header.mini #searchbar {
    margin-top: 24px
}

body.openMenu #header.mini .nav {
    top: 61px
}

#sitecontent {
    padding-top: 72px;
}

.slider {
    margin: 0
}

.slider ul {
    font-size: 0
}

.slider .bx-wrapper {
    max-width: 100% !important
}

.slider .row.gutter {
    margin-left: 0;
    margin-right: 0px
}

.slider .bx-wrapper .row.gutter > [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.slider .bx-wrapper .bx-controls-direction a.bx-prev {
    left: 0px
}

.slider .bx-wrapper .bx-controls-direction a.bx-next {
    right: 0px
}

.slider .bx-wrapper .bx-pager {
    bottom: -40px;
}

.slider .bx-wrapper .bx-controls-direction a {
    border-radius: 0
}

.agent-desktop .slider .bx-wrapper .bx-pager.bx-default-pager a:hover,.slider .bx-wrapper .bx-pager.bx-default-pager a.active,.slider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    border: #939393 1px solid;
    background-color: #939393
}

#indexPage #topSlider .module_container {
    padding: 0
}

#indexPage #topSlider .bx-wrapper .bx-pager {
    height: 20px;
}

#indexPage #topSlider .bx-wrapper .bx-pager a {
    display: block;
    margin: 0 5px;
    width: 30px;
    height: 10px;
    outline: 0
}

#indexPage #topSlider .bx-wrapper .bx-pager a div.progress {
    margin-top: 4px;
    width: 100%;
    height: 1px;
    background-color: #555
}

#indexPage #topSlider .bx-wrapper .bx-pager a.active div.mask {
    width: 100%
}

#indexPage #topSlider .bx-wrapper .bx-pager a div.mask {
    width: 0;
    height: 100%;
    background-color: #fff
}

#indexPage #topSlider .bx-wrapper .bx-pager a div.auto.mask {
    width: 0
}

#indexPage #topSlider {
    position: relative;
    display: block;
}

#indexPage #topSlider, #indexPage #topSlider ul.content_list {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#indexPage #topSlider ul li div.item_bg.image img {
    display: none
}

#indexPage #topSlider ul li .wrapper {
    width: 1170px;
    height: 100%;
    display: table;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto
}

#indexPage #topSlider ul li .wrapper .description {
    display: table-cell;
    vertical-align: middle;
    padding: 100px 0px
}

#indexPage #topSlider ul li .wrapper .description.tl {
    vertical-align: top;
    text-align: left
}

#indexPage #topSlider ul li .wrapper .description.tc {
    vertical-align: top;
    text-align: center
}

#indexPage #topSlider ul li .wrapper .description.tr {
    vertical-align: top;
    text-align: right
}

#indexPage #topSlider ul li .wrapper .description.ml {
    vertical-align: middle;
    text-align: left
}

#indexPage #topSlider ul li .wrapper .description.mc {
    vertical-align: middle;
    text-align: center
}

#indexPage #topSlider ul li .wrapper .description.mr {
    vertical-align: middle;
    text-align: right
}

#indexPage #topSlider ul li .wrapper .description.bl {
    vertical-align: bottom;
    text-align: left
}

#indexPage #topSlider ul li .wrapper .description.bc {
    vertical-align: bottom;
    text-align: center
}

#indexPage #topSlider ul li .wrapper .description.br {
    vertical-align: bottom;
    text-align: right
}

#indexPage #topSlider ul li .wrapper .description .title {
    font-size: 36px;
    line-height: 1.1
}

#indexPage #topSlider ul li .wrapper .description .subtitle {
    color: #939393;
    font-size: 14px;
    margin-top: 10px;
}

#indexPage #topSlider ul li .wrapper .description .more {
    margin-top: 35px
}

#indexPage #topSlider ul li div.item_bg.image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#indexPage #topSlider ul li a.full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.mlist .content_wrapper:not(.masonry) .content_list .item_block .item_img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none ;
    display: block;
    position: relative;
    overflow: hidden;
}

.mlist .content_wrapper.masonry .content_list .item_block .item_img {
    background-image: none !important;
    padding-bottom: 0
}

.mlist .content_wrapper:not(.masonry) .content_list .item_block .item_img img {
    display: none
}

.mlist.search #search_header {
    margin-bottom: 40px
}

.mlist.search #search_header #search_form {
    height: 36px;
    max-width: 450px
}

.mlist.search #search_header #search_form a {
    height: 36px;
    width: 36px;
    float: right;
    display: block
}

.mlist.search #search_header #search_form a i {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px
}

.mlist.search #search_header #search_form div {
    height: 16px;
    display: block;
    border: 1px solid #d9d9d9;
    padding: 9px 10px;
    margin-right: 45px
}

.mlist.search #search_header #search_form div input {
    height: 16px;
    width: 100%;
    line-height: 16px;
}

.mlist.search #search_header #search_result {
    margin-top: 30px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    color: #333333;
    background: #ededed;
    font-size: 16px;
}

.mlist.search .content_list .item_block {
    border-bottom: #e9e9e9 1px dotted;
    padding-bottom: 25px;
    margin-bottom: 25px
}

.mlist.search .content_list .item_block .title {
    font-size: 15px
}

.mlist.search .content_list .item_block .searchvalue {
    color: #ff0000
}

.mlist.search .content_list .item_block .item_wrapper .description {
    font-size: 13px;
    color: #939393;
    line-height: 24px;
    margin-top: 14px
}

.mlist.search .content_list .item_block .item_wrapper .description a.moren {
    margin-left: 10px;
    color: #5f5d5d;
    text-decoration: underline
}

.module.mcounter ul.content_list li div {
    border-right: 1px solid #e9e9e9
}

.module.mcounter ul.content_list li:last-child div {
    border-right: none
}

.module.mcounter ul.content_list li p {
    color: #b3b3b3;
    text-align: center;
    font-size: 14px
}

.module.mcounter ul.content_list li p.number .counterDX {
    margin-top: 15px;
    color: #666;
    text-align: center;
    font-size: 54px;
    font-family: HELVETICANEUELTPRO-THEX, Arial
}

.module.mcounter ul.content_list li p.number .unit {
    font-size: 14px;
    vertical-align: 25px;
    margin-left: 8px
}

.module.mcustomize .module_container {
    padding-top: 0;
    padding-bottom: 0
}

.module.mcustomize .content_list.flex {
    display: flex;
    align-items: center
}

.module.mcustomize .content_list.flex.flex-start {
    align-items: flex-start
}

.module.mcustomize .content_list .image img {
    margin: 0 auto;
    display: block
}

.module.mcustomize .content_list .description {
    line-height: 24px
}

.module.mcustomize .content_list.flex .custitem > .wrapper >.description {
    padding: 80px;
}

.module.mcustomize .content_list.flex .custitem > .wrapper >.mlist {
    padding: 80px;
}

.module.mcustomize .content_list.flex .custitem > .wrapper >.mlist .container_header {
    max-width: none
}

.module.mcustomize .content_list .custitem:nth-of-type(1) {
    animation-name: fadeInLeft;
}

.module.mcustomize .content_list .custitem:nth-of-type(2) {
    animation-name: fadeInRight;
}

.module.yyform .form_item {
    margin-bottom: 30px;
}

.module.yyform .form_content {
    padding: 18px 25px;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    transition: all ease-in-out .2s
}

.module.yyform .form_content.focus {
    border-color: #585858;
}

.module.yyform .form_content.error {
    border-color: #ee2323;
}

.module.yyform .form_content .form_content_item {
    width: 100%;
    max-width: 100%;
    outline: 0;
    resize: none
}

.module.yyform .codeContent .form_content {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px
}

.module.yyform .codeContent .codeimg {
    float: left;
    margin: 2px 10px 0 10px;
    cursor: pointer
}

.module.yyform .form_item_submit {
    margin-bottom: 60px
}

.module.yyform .form_submit {
    cursor: pointer;
    border-radius: 0
}

.module.yyform .module_container .more.white {
    border-color: #232323
}

.agent-desktop .module.yyform .form_submit.more.white:hover input {
    color: #fff
}

.tags a {
    font-size: 12px;
    padding: 3px 8px;
    border: 1px solid #d9d9d9;
    margin: 0 8px 8px 0;
    display: inline-block;
    color: #232323;
    line-height: 18px;
    transition: all ease-in-out .2s;
    border-radius: 3px;
    background-color: #fff
}

.agent-desktop .tags a:hover {
    background: #232323;
    color: #fff;
    border-color: #232323;
}

#footer,#footer a {
    color: #6f6f6f;
}

#footer #flinks {
    background-color: #1c1c1c;
}

#footer #flinks .module_container {
    padding-top: 5%;
    padding-bottom: 5%;
}

#footer #flinks .row.gutter {
    margin: 0 -40px;
    display: flex;
}

#footer #flinks .row.gutter > [class*="col-"] {
    padding: 0 40px;
}

#footer #flinks .content_list .item_block {
    border-right: #363636 1px solid;
    animation-name: fadeInUp;
}

#footer #flinks .content_list .item_block:last-child {
    border-right: none
}

#footer #flinks .fitem_block_info .title {
    font-size: 16px;
    font-weight: 100
}

#footer #flinks .fitem_block_info .title a {
    color: #fff;
}

#footer #flinks .fitem_block_info .description {
    margin-top: 20px;
    font-size: 13px;
    line-height: 20px;
    height: 40px;
    overflow: hidden
}

#footer #flinks .fitem_block_info .shareicon {
    margin-top: 40px
}

.shareicon a {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 16px;
    background-color: #fff;
    margin-right: 10px;
    text-align: center;
    border-radius: 15px;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    border: 1px solid #d9d9d9;
    color: #232323
}

.agent-desktop .shareicon a:hover {
    background-color: #232323;
    color: #fff;
    border-color: #232323
}

.shareicon a i {
    margin-top: 7px;
    font-size: 16px
}

#footer #flinks .fitem_block_info .shareicon a {
    color: #fff;
    background-color: #2e2f2f;
    border-color: #2e2f2f
}

.agent-desktop #footer #flinks .fitem_block_info .shareicon a:hover {
    background-color: #555555;
    border-color: #555555
}

#footer #flinks .fitem_block_link li.title {
    color: #939393;
    font-size: 14px;
    margin-bottom: 15px
}

#footer #flinks .fitem_block_link li {
    line-height: 24px;
    height: 24px
}

#footer #flinks .fitem_block_link li a {
    color: #6f6f6f;
}

.agent-desktop #footer #flinks .fitem_block_link li a:hover {
    text-decoration: underline
}

#footer #copyright {
    background-color: #141414;
}

#footer #copyright .module_container {
    font-size: 12px;
    line-height: 20px;
    padding-top: 50px;
    padding-bottom: 50px
}

#footer #copyright span.ellipsis {
    display: inline;
    max-width: 70%
}

#footer #copyright a#flogo {
    display: inline-block;
    margin-top: 2px;
    margin-left: 10px;
    width: 50px;
    height: 20px;
    vertical-align: top
}

#footer #copyright a.beian {
    color: #9e9e9e !important;
    vertical-align: top
}

#rshares {
    position: fixed;
    right: 0;
    bottom: 22px;
    z-index: 99;
    height: 124px;
}

#rshares a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    box-sizing: border-box
}

#rshares a, #rshares a i {
    color: #999;
    transition: all .3s ease-out 0s
}

#rshares a.sweibo i {
    margin-top: 12px;
}

#rshares a i.fa.fa-mobile {
    margin-top: 6px;
    font-size: 24px
}

.agent-desktop #rshares a:hover {
    z-index: 1;
}

.agent-desktop #rshares a:hover i {
    color: #2e2e2e
}

#rshares a.sweixin {
    top: -1px
}

#rshares a#gotop {
    margin-top: -2px;
    font-size: 22px
}

#rshares a#gotop i {
    margin-top: 6px
}

#fixed_weixin .fixed-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -110px;
    padding: 20px 20px 0;
    width: 220px;
    height: auto;
    background: #fff
}

#fixed_weixin .fixed-container div {
    height: 220px
}

#fixed_weixin .fixed-container p {
    height: 40px;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 40px
}

#fixed_mp .fixed-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -149px;
    margin-left: -129px;
    width: 258px;
    height: 298px;
    background: #fff
}

#fixed_mp .fixed-container p {
    padding: 0 20px;
    color: #000;
    text-align: center;
    font-size: 14px
}

#online_open {
    position: fixed;
    bottom: 145px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #999;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    right: 0;
    box-sizing: border-box
}

#online_open i {
    margin-top: 10px;
    color: #999;
    transition: all .3s ease-out 0s
}

.agent-desktop #online_open:hover i {
    color: #2e2e2e
}

#online_lx {
    position: fixed;
    right: -200px;
    bottom: 188px;
    z-index: 99999;
    width: 180px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 5px 9px rgba(4, 0, 0, .17)
}

#olx_head {
    padding: 20px;
    height: 1pc;
    background: #2e2e2e;
    color: #fff;
    font-size: 14px;
    line-height: 1pc
}

#olx_head i {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s
}

.agent-desktop #olx_head i:hover {
    color: #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg)
}

#olx_qq li a {
    display: block;
    padding: 9pt 30px;
    height: 18px;
    border-bottom: 1px solid #fff;
    background-color: #f8f8f8;
    color: #888;
    font-size: 9pt;
    line-height: 18px;
    transition: all ease-out .3s
}

#olx_qq li a i {
    margin-right: 18px;
    color: #666;
    vertical-align: middle;
    font-size: 1pc;
    transition: all ease-out .3s
}

.agent-desktop #olx_qq li a:hover {
    background: #eee;
    color: #666
}

.agent-desktop #olx_qq li a:hover i {
    color: #2e2e2e
}

#olx_tel {
    padding: 20px 30px
}

#olx_tel div {
    margin-bottom: 10px;
    height: 14px;
    color: #999;
    line-height: 14px
}

#olx_tel div i {
    margin-right: 20px;
    vertical-align: middle;
    font-size: 18px
}

#olx_tel p {
    color: #666;
    font-size: 1pc;
    font-family: HELVETICANEUELTPRO-THEX;
    line-height: 18px
}

#header.head-bg {
    background: #fff;
}

.index-mask {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.48) no-repeat;
    display: none;
    z-index: 88;
}

#header #searchbar {
    display: block;
}

#navWrapper.searchshow .navitem {
    -webkit-animation: ac-gn-item-searchshow 400ms both;
    animation: ac-gn-item-searchshow 400ms both;
}

#header.head-bg .content a#logo {
    opacity: 0
}

#navWrapper.searchhide .navitem {
    -webkit-animation: ac-gn-item-searchhide 400ms both;
    animation: ac-gn-item-searchhide 400ms both
}

@-webkit-keyframes ac-gn-item-searchshow {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1);
        animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1)
    }

    40% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@keyframes ac-gn-item-searchshow {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1);
        animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1)
    }

    40% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
}

@-webkit-keyframes ac-gn-item-searchhide {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1);
        animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1)
    }
}

@keyframes ac-gn-item-searchhide {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1);
        animation-timing-function: cubic-bezier(0.2727, 0.0986, 0.8333, 1)
    }
}

@-webkit-keyframes ac-gn-searchview-searchhide {
    0% {
        opacity: 1;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }

    100% {
        opacity: 0
    }
}

@keyframes ac-gn-searchview-searchhide {
    0% {
        opacity: 1;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes ac-gn-searchform-slide {
    0% {
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.11393, 0.8644, 0.14684, 1);
        animation-timing-function: cubic-bezier(0.11393, 0.8644, 0.14684, 1)
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes ac-gn-searchform-slide {
    0% {
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.11393, 0.8644, 0.14684, 1);
        animation-timing-function: cubic-bezier(0.11393, 0.8644, 0.14684, 1)
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes ac-gn-searchform-fade {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: cubic-bezier(0.67, 0, 0.33, 1);
        animation-timing-function: cubic-bezier(0.67, 0, 0.33, 1)
    }

    100% {
        opacity: 1
    }
}

@keyframes ac-gn-searchform-fade {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: cubic-bezier(0.67, 0, 0.33, 1);
        animation-timing-function: cubic-bezier(0.67, 0, 0.33, 1)
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes ac-gn-searchinput-fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes ac-gn-searchinput-fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#navWrapper.searchopen .navitem {
    visibility: hidden
}

#navWrapper.searchopen .search-wrap {
    display: block
}

#navWrapper #searchbar.search-wrap {
    margin-top: 0;
    border: 0;
    background: #fff;
    margin: 0 auto;
    padding: 0;
    height: 72px;
    transition: inherit ;
}

#navWrapper .search-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1
}

.search-close {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 12px;
    right: 0;
}

.search-close .lcitem-top,.search-close .lcitem-bottom {
    height: 19px;
    width: 1px;
    background: #232323;
    position: absolute;
    display: block;
    top: 0;
    z-index: 1;
    left: 9px;
    transition: all .2s ease-out 0s;
}

.searchopen .search-close .lcitem-top {
    left: 9px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.searchopen .search-close .lcitem-bottom {
    left: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.search-close .lcitem-top {
    left: 0;
}

.search-close .lcitem-bottom {
    right: 0;
}

#header .fa-search::before,.search-form .fa-search::before {
    content: "\f002";
}

#navWrapper.searchhide .search-wrap {
    -webkit-animation: ac-gn-searchview-searchhide 200ms both;
    animation: ac-gn-searchview-searchhide 200ms both
}

#navWrapper.searchshow .search-wrap ,#navWrapper.searchopen .search-wrap ,#navWrapper.searchhide .search-wrap {
    -webkit-animation: none;
    animation: none
}

#navWrapper.searchopen .search-wrap {
    opacity: 1;
    margin-top: 0px;
    z-index: 10;
}

#navWrapper .search-wrap .search-frame {
    margin-top: 14px;
    position: relative;
    padding: 0 5px
}

#navWrapper .search-wrap input {
    font-size: 16px;
    line-height: 44px;
    color: #333;
    width: 100%;
    border-radius: 5px;
    float: none;
}

.search-btn {
    opacity: 1;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
    transition: all ease-out .3s;
    padding-left: 28px;
    border-left: 1px solid #ccc;
    margin-right: 20px;
    display: block;
}

#header .searchtext-btn {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    margin-left: 30px
}

#navWrapper .searchtext-btn i {
    font-size: 18px;
    line-height: 44px;
}

#header a.search-close {
    opacity: 0;
    margin-right: 20px;
}

#navWrapper.searchopen a.search-close {
    opacity: 1;
    transition: all .2s ease-out 0s;
}

.search-input {
    float: none;
    margin-left: 48px;
    margin-right: 80px;
    padding: 0 10px;
    transition: all .3s ease-out 0s;
}

#header.mini .search-btn {
    margin-top: 24px;
}

#header.mini #navWrapper #searchbar.search-wrap {
    height: 60px;
}

#header.mini #navWrapper .search-wrap .search-frame {
    margin-top: 8px;
}

#searchbar .search-frame {
    height: 44px;
}

#navWrapper.searchopen .search-frame {
    -webkit-animation: ac-gn-searchform-fade 400ms both;
    animation: ac-gn-searchform-fade 400ms both;
}

#navWrapper.searchopen .search-frame form {
    -webkit-animation: ac-gn-searchform-slide 1s both;
    animation: ac-gn-searchform-slide 1s both;
}

@media screen and (max-width: 769px) {
    .search-btn {
        margin-right: 12px;
        margin-top: 24px;
        padding-left: 0;
        border: 0
    }

    .search-input {
        margin-left: 58px;
    }

    #header .searchtext-btn {
        padding-left: 30px;
    }

    #navWrapper #searchbar.search-wrap {
        height: 60px;
    }

    #navWrapper .search-wrap .search-frame {
        margin-top: 8px;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    z-index: 100;
    display: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6)
}

.hide {
    display: none;
}

.show {
    display: block;
}

.popup {
    display: block;
}

.popup .fixed-container {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%
}

.popup .fixed-container.center {
    left: 50%;
    top: 50%;
}

.popup .closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.popup .closeBtn:after {
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,.2);
    border-radius: 20px;
    position: absolute;
    left: 4px;
    top: 4px;
    content: '';
    transition: all ease-out .2s
}

.agent-desktop .popup .closeBtn:hover:after {
    background-color: rgba(255,255,255,.4);
}

.popup .closeBtn .lcitem .rect {
    background-color: #fff;
}

@media screen and (max-width: 769px) {
    #header .nav {
        display:none
    }

    #header #openBtn {
        display: block
    }

    #sitecontent {
        padding-top: 60px;
    }

    #header .content a#logo {
        margin-top: 10px
    }

    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: 0
    }

    #indexPage #topSlider,#indexPage #topSlider .bx-viewport,#indexPage #topSlider ul ,#indexPage #topSlider ul li {
        height: auto !important
    }

    #indexPage #topSlider ul li div.item_bg.image {
        background-image: none !important
    }

    #indexPage #topSlider ul li div.item_bg.image img {
        display: block
    }

    #indexPage #topSlider ul li .wrapper {
        display: none
    }

    .module_container {
        padding: 30px 0 0 0;
        overflow: hidden
    }

    .row.gutter {
        margin-left: -5px;
        margin-right: -5px
    }

    .row.gutter > [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .module_container .more {
        padding: 5px 30px
    }

    .col-66 {
        width: 100%
    }

    .col-60 {
        width: 100%
    }

    .col-50 {
        width: 100%;
    }

    .col-40 {
        width: 50%
    }

    .col-33 {
        width: 50%
    }

    .col-25 {
        width: 50%
    }

    .col-20 {
        width: 50%
    }

    .postbody .module_container, .module_container .module_container {
        padding-left: 10px;
        padding-right: 10px
    }

    .container_header {
        padding-bottom: 20px;
        font-size: 20px
    }

    .container_category {
        overflow-y: hidden;
        overflow-x: scroll;
        text-align: left;
        white-space: nowrap;
        margin-bottom: 20px
    }

    body .module.mcustomize .content_list.flex {
        display: block
    }

    .module.mcustomize .content_list.flex .description {
        padding: 25px 10px
    }

    .module.mcustomize .content_list .description {
        padding-left: 10px;
        padding-right: 10px
    }

    .module.mcounter ul.content_list li {
        margin-bottom: 15px
    }

    #footer #flinks .module_container {
        padding-top: 8%;
        padding-bottom: 8%;
    }

    #footer #flinks .row.gutter {
        margin-left: 0;
        margin-right: 0px;
        display: block
    }

    #footer #flinks .row.gutter > [class*="col-"] {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    #footer #flinks .content_list .item_block {
        border-right: none;
        border-bottom: #363636 1px solid;
        margin-bottom: 20px
    }

    #footer #flinks .content_list .item_block:last-child {
        border-bottom: none;
        margin-bottom: 0
    }

    #footer #flinks .row.gutter > [class*="col-"]:last-child {
        padding-bottom: 0
    }

    #footer #flinks .fitem_block_info .shareicon {
        margin-top: 20px
    }

    #footer #copyright .module_container {
        padding-top: 10px;
        padding-bottom: 10px
    }
}

/* other */
.richtext table {
    margin: 0 auto;
}
